# Copy and past this to a new file called ".env" then fill in necessary info
# You can add more variables using ':' or '=' to set
# django-dotenv will read the file itself and set them

# PostgreSQL
POSTGRES_PASS=postgrespass
POSTGRES_USER=postgresuser
POSTGRES_NAME=DBName
DEFAULT_PORT=8080

# Database URL just condenses the database info
# No longer using this
# DATABASE_URL=postgres://<user>:<pass>@127.0.0.1:8080

# General settings
DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=<ProjectDirectory>.settings
DJANGO_SECRET_KEY=itsasecret
DJANGO_ALLOWED_HOSTS=www.FAUresidency.com
DEBUG=True

# AWS Settings
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=

# Used with email
DJANGO_MAILGUN_API_KEY=
DJANGO_SERVER_EMAIL=

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True