# You can add more variables using ':' or '=' to set
# django-dotenv will read the file itself and set them

# PostgreSQL
POSTGRES_PASSWORD=postgrespass
POSTGRES_USER=postgresuser

# General settings
DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=Residency.settings
DJANGO_SECRET_KEY=itsasecret
DJANGO_ALLOWED_HOSTS=.FAUresidency.com

# AWS Settings
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=

# Used with email
DJANGO_MAILGUN_API_KEY=
DJANGO_SERVER_EMAIL=

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True